@model Account

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<h1>Chỉnh sửa tài khoản</h1>
<div>
    <a asp-action="Index" class="btn btn-primary">Quay lại</a>
</div>
<form asp-action="Edit" asp-controller="Accounts" asp-area="Admin" method="post">
    <div clas="row" style="margin-bottom:100px;">
        <div class="create_container">
            <div class="create_header">
                <h4>Thông tin cơ bản</h4>
            </div>
            <div>
                <input name="id" value="@Model.AccountId" hidden/>
                <input asp-for="AccountId" value="@Model.AccountId" hidden/>
                <div class="createlt_title">
                    Tên đăng nhập <i class="fa-solid fa-star-of-life star_createlt"></i>
                </div>
                <input asp-for="Username" class="form-control" readonly/>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="createlt_address">
                <div class="createlt_title">
                    Mật khẩu <i class="fa-solid fa-star-of-life star_createlt"></i>
                </div>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="createlt_address">
                <div class="createlt_title">
                    Tên người dùng <i class="fa-solid fa-star-of-life star_createlt"></i>
                </div>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="createlt_address">
                <div class="createlt_title">
                    Địa chỉ <i class="fa-solid fa-star-of-life star_createlt"></i>
                </div>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="createlt_address">
                <div class="createlt_title">
                    Số điện thoại <i class="fa-solid fa-star-of-life star_createlt"></i>
                </div>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="createlt_address">
                <div class="createlt_title">
                    Số lượt đăng <i class="fa-solid fa-star-of-life star_createlt"></i>
                </div>
                <input asp-for="NumberPost" class="form-control" type="number"/>
                <span asp-validation-for="NumberPost" class="text-danger"></span>
            </div>
            <div class="createlt_imgRealty">
                <div class="createlt_title">
                    Hình ảnh <i class="fa-solid fa-star-of-life star_createlt"></i> <div class="amount_img_createlt" style="margin-left:4px;"></div>
                </div>
                @if(Model.Avatar !=null){
                    <img class="main_img" src="~/images/@Model.Avatar" />
                }
                <img class="main_img" src="~/images/avatar.jpg" style="display:none;" />
                <div class="btn_chon_anh">
                    <input class="form-control" type="file" name="img" hidden accept="image/*" id="avatar-input">
                    <input asp-for="Avatar" id="avatar-file-name" hidden class="text-muted form-control" />
                    <button type="button" class="btn btn_profile btn_chooseimg" onclick="chooseFile()">Thêm ảnh</button>
                </div>
            </div>
            <div class="createlt_account">
                <div class="createlt_title">
                    Loại tài khoản <i class="fa-solid fa-star-of-life star_createlt"></i>
                </div>
                <select class="createlt_categoryDetail" asp-for="Permissions" class="form-control" id="selectAccount">
                    <optgroup class="custom-optgroup" label="Chọn gói đăng">
                        <option value="Admin">Admin</option>
                        <option value="User">User</option>
                    </optgroup>
                </select>
            </div>
            <div class="createlt_account">
                <div class="createlt_title">
                    Gói đăng bài <i class="fa-solid fa-star-of-life star_createlt"></i>
                </div>
                <select class="createlt_categoryDetail" asp-for="PackageId" class="form-control" asp-items="ViewBag.PackageId" id="selectAccount">
                    <optgroup class="custom-optgroup" label="Chọn gói đăng">
                    </optgroup>
                </select>
            </div>
            <button type="submit" class="btn btn_profile btn_submit" style="margin-top:20px;">Sửa</button>
        </div>
    </div>
</form>
@section Scripts {
    <script>
        function chooseFile() {
            document.getElementById('avatar-input').click();
        }
        document.getElementById('avatar-input').addEventListener('change', function () {
            var fileInput = document.getElementById('avatar-input');
            var fileNameInput = document.getElementById('avatar-file-name');
            fileNameInput.value = fileInput.files[0].name;

            var selectedImageFile = fileInput.files[0];
            // Check if a file is selected
            if (selectedImageFile) {
                var imagePath = "/images/" + selectedImageFile.name;
                document.querySelector('.main_img').src = imagePath;
                document.querySelector('.main_img').style.display = 'block';
            }
        });
    </script>
}
